include bc_engine/audio/*
include bc_engine/fonts/*
include bc_engine/models/procedural/*
include bc_engine/models_compressed/*
include bc_engine/prefabs/*
include bc_engine/scripts/*
include bc_engine/textures/*
include bc_engine/textures/items/*
include bc_engine/shaders/screenspace_shaders/*
include bc_engine/audio/*
